@charset "UTF-8";

#new{
	display:none
}
.newOpen{
	/*display.noneにかき消されるため"!important"追加で重要度を上げてる*/
	display:block !important;
}


#editform {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 10%;
}

