@charset "UTF-8";
/*全てのページに適用*/


*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}

/* ヘッダー　nav*/
.haikei {
	background-color: #e3e3e3;
}

.gnav_wrap{
	z-index:100;
    max-width:1000px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    background-color: #e3e3e3;
}
.main_menu {
    background: white;
    width: 15.333%;
    text-align: center;
    color: black;
    padding: 10px 0;
    vertical-align: middle;
    margin: auto 0;
    position: relative;
    background-color: #e3e3e3;
}
.sub_menu{
    position: absolute;
    background: #5b5b5b;
    width: 100%;
    display:none;
    padding:5px 0;
}
.sub_menu>li{
    padding:20px 0;
}

.open{
    display:block;
}
.main{
	position:absolute;
	z-index:-5;
}

/*画面コンテンツ横幅と配置*/
.conteinar{
	width: 90%;
	margin: auto;
}

/*上部メニューの文字について*/
.main_menu a{
	text-decoration: none;
	color:#404040;
}
.main_menu a:hover{
	text-decoration: none;
	color:#c7c7c7;
}
.sub_menu a{
	color:#cfcfcf;
}

.sub_menu a:hover{
	color:#e3e3e3;
}

/*上部メニューの"/"のこと*/
.list:not(.sub_menu) li+li{
    border-left: 1px solid #999;
}


/*listの・は無し*/
li{
	list-style: none;
}


/*基本の文字色*/
body{
	color:#404040;
}

/*タイトル（二重下線有りの英語2単語）*/
.title{
	border-bottom: double 4px #404040;
	font-size: 30px;
	font-weight: bold;
}

/*テキストボックス(type=textとpasswordのみ)*/
input[type=text], [type=password]{
	border: none;
    border-bottom: solid 1px #404040;
}
input{
	outline: none;
}

/*ボタン全体*/
input[type=submit]{
	cursor: pointer;
}

/*通常のボタン*/
.normal{
	color:#404040;
	background:#F2F2F2;
	border: 1.5px solid #7F7F7F;
	border-radius: 5px;
}

/*色反転のボタン*/
.reversal{
	color:#F2F2F2;
	background:#7F7F7F;
	border: 1.5px solid #7F7F7F;
	border-radius: 5px;
}

/*+-ボタン*/
#add{
	border-radius: 10px;
	width: 17px;
	border: solid 1px
}

#waku, #waku2{
    background: #FFF;
    border: solid 3px #9d9d9f;/*線*/
    border-radius: 10px;/*角の丸み*/
    font-weight: bold;
}


/*フッター*/
