@charset "UTF-8";
/*全てのページに適用*/

.top{
	display: flex;
}

.list {
	display:flex;
  	padding: 10px 0;
  	margin: 0 auto;
  	text-align: center;
  	align-items: center;
}


.list-item {
	font-size: 20px;
    width: 200px;
}

.list-item span{
	cursor: pointer;
}


.sub-list{
    position: absolute;
    background: #aaa;
    width: 100%;
    transform: translateY(-500px);
  transition: .5s;
    z-index: -3;
}


.sub-list>li{
    padding:20px 0;
}

.sub-list>li:hover{
    background:red;
}

.open{
    transform: translateY(20px);
}



/*上部メニューの文字について*/
.list-item a{
	text-decoration: none;
	color:#404040;
}
.list-item a:hover{
	text-decoration: none;
	color:#A6A6A6;
}



/*上部メニューの"/"のこと*/
.list:not(.sub-list) li+li{
    border-left: 1px solid #999;
}


/*listの・は無し*/
li{
	list-style: none;
}


/*基本の文字色*/
body{
	color:#404040;
}

/*タイトル（二重下線有りの英語2単語）*/
.title{
	border-bottom: double 4px #404040;
	font-size: 30px;
}

/*テキストボックス(type=textとpasswordのみ)*/
input[type=text], [type=password]{
	border: none;
    border-bottom: solid 1px #404040;
}
input{
	outline: none;
}

/*ボタン全体*/
input[type=submit]{
	cursor: pointer;
}

/*通常のボタン*/
.normal{
	color:#404040;
	background:#F2F2F2;
	border: 1.5px solid #7F7F7F;
}

/*色反転のボタン*/
.reversal{
	color:#F2F2F2;
	background:#7F7F7F;
	border: 1.5px solid #7F7F7F;
}

/*フッター*/
