@charset "UTF-8";

/*gourmet.jspに適用*/
.serch{
	margin: 10px auto 20px auto;
}

table {
	 border-radius: 30px;
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

.tr {
 	border-radius: 10px 20px 30px 40px #404040;
}

td {
	font-weight: 100;
    border-bottom: 1px solid #555;
    text-align: center;
    padding: 10px 0 0 0;
}


/* 囲い枠線 */
#waku {
	padding: 10px;
    margin: 20px auto;
    margin-top: 3%;
    max-width: 900px;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #9d9d9f;
    border-radius: 10px;
    height: 350px;
    overflow: scroll;
    color: #3a3535;
}

.title-box{
	margin-bottom:25px;
	text-align: center;
}

.star{
    background: transparent;
    border: none;
    vertical-align: middle;
    font-size: 16px;

}
.fav{
	width:5%;
}