@charset "UTF-8";
.main{
	width: 100%;
	z-index:20;
	background-image
}

.flex{
	display: flex;
}

.syuzo, .allSchedule, .weather{
	margin: 10px;
}

.syuzo{
	width: 20%;
	text-align: start;
	margin-top : 2em;
}
.allSchedule{
	 width:60%;

	 }

/*MAP、編集ボタン*/
.normal{
	width: 50px;
    height: 25px;
    font-size: 12px;
}

.weather{
	padding-bottom: 0.5em;
	width: 20%;
}

/*見出し*/
.title-box{
	text-align: center;
	margin-top: 20px;
}

/*激励メッセージ背景色*/
.text-background{
	display: inline-block;
	font-weight: bold;
	background:rgba(255,255,255,0.6);
	 margin-left: 48px;
}

#msg{
	display:none;
	margin: 10px auto;
	writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	text-orientation: upright;
	font-family : "HG行書体";
	font-size: 40px;
	word-break : keep-all;
 	height: 500px;
}
.open{
	/*display.noneにかき消されるため"!important"追加で重要度を上げてる*/
	display:block !important;
}

.close{
	display:none !important;
}

#glist {
		display:block;
}

.triangle{
	background: transparent;
    border: none;
    cursor: pointer;
}

.schedule{
	margin: 10px 0 10px 0;
}

.today, .nextday-box{
	margin:10px 0;
}

/*角が丸い四角で囲んだ範囲*/
#waku {
	padding: 0.5em 3em;
	margin-top: 20px;
}

#waku2 {
	padding: 0.5em 1em;
	margin-top : 20px;
	background: white;

}

#today_weather_image{
	opacity: 0.4;
	z-index: 10;
	text-align:center;
	zoom: 3;


}

