@charset "UTF-8";

#new{
	display:none
}
.newOpen{
	/*display.noneにかき消されるため"!important"追加で重要度を上げてる*/
	display:block !important;

}

/*登録ボタン*/
.regist{
	display: inline-block;
    margin: 15px 0 15px 525px;
    width: 80px;
    height: 40px;
    font-size: 18px;
}

.item{
	display:flex;
}

/*項目はすべて入力してください*/
.attention{
	margin-left: 390px;
	padding : 35px 0 0 0 ;
	color:red;
}

/*ジャンル被りエラーメッセージ*/
#error_message{
	margin-left: 300px;
	color:red;
}

/*テーブル氏名、所属地、都道府県、ID、パスワード*/
#table{
	margin-left: 230px;
	margin-top: 5px;
    width: 800px;
    line-height: 42px;
    font-size: 16px;
    font-weight: bold;
}

/*テーブルジャンル*/
#genretable{
	margin-left: 230px;
	margin-top: 20px;
	width: 800px;
	line-height: 35px;
	font-size: 16px;
    font-weight: bold;
}

input[type="text"]{
	width: 200px;
	height: 30px;
}
input[type="password"]{
	width: 200px;
	height: 30px;
}

/*見出し*/
.title-box{
	text-align: center;
	margin: 10px 0;
}



